.uploadArea {
    width: 600px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    cursor: pointer;
}

.uploadButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f5f5f5;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
        background-color: #e0e0e0;
    }
}

