.galleryContainer {
    margin: 16px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    transition: all 0.3s ease;

}

.photoContainer {
    width: 276px;
    height: 276px;
    cursor: pointer;
}

.thumbnailImage {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.realsizeImage {
    width: auto;
    height: auto;
    max-width: 80vw;
    max-height: 80vh;
    object-fit: contain;
    transition: all 0.3s ease;
}

/* .photoWrapperVisible {
    visibility: visible;
    opacity: 1;
} */

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.3s ease;
}

.photoWrapper {
    display: grid;
    grid-template-columns: 4fr 250px;
    gap: 16px;
    background: #fff;
    padding: 16px;
    border-radius: 8px;
    /* max-width: 80vw;
    max-height: auto; */
}

.photoWrapper img {
    display: block;
}

.commentsSection {
    background-color: aliceblue;
    padding: 10px 10px 10px 20px;
}

.commentsForm {
    margin: 25px 0 0;
}

.commentsForm textarea {
    background-color: #fff;
}

.commentsForm button {
    background-color: #a78bfa;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.commentItem {
    padding: 10px;
    margin: 0 0 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    width: 90%;
    background-color: #fff;
}